language: go

go:
  - 1.4
  - 1.5
  - tip


before_install:
    - go get golang.org/x/tools/cmd/vet
    - go get golang.org/x/tools/cmd/cover
    - go get github.com/golang/lint/golint
    - go get github.com/mattn/goveralls
    - go get github.com/funny/utest

install:
    - go get -d -v ./... && go build -v ./...

script:
    - go vet -x ./...
    - $HOME/gopath/bin/golint ./...
    - go test -v ./...
    - go test -covermode=count -coverprofile=profile.cov .

after_script:
    - $HOME/gopath/bin/goveralls -coverprofile=profile.cov -service=travis-ci
    - go test -benchmem -bench .

matrix:
  allow_failures:
    - go: 1.5
